.cart-page {
  width: 100%;
  min-height: 30vh;
  padding: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cart-page-item {
  display: flex;
  flex-direction: column;
  width: 700px;
}
.cart-page-item .title {
  display: flex;
  align-items: center;
  padding: 20px 0px;
}
.cart-page-item .title p {
  font-size: 16px;
  font-weight: 400;
  color: #737373;
  margin-left: 20px;
  letter-spacing: 0.2px;
}
.cart-page-item .title h1 {
  font-size: 22px;
}
.cart-page-products {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cart-page-product {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.18);
  border-top: 1px solid rgba(128, 128, 128, 0.18);
}
.cart-page-product img {
  width: 100px;
  height: 100px;
}
.cart-page-product-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-page-product-item button{
    padding: 5px;
}