@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "League Spartan";
}
html,
body {
  width: 100vw;
  overflow-x: hidden;
}
.container {
  max-width: 1240px;
  margin: 0px auto;
  padding: 0px 15px;
}
.location {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #000;
}
.location i {
  margin: 0px 5px;
}
.location a {
  color: #00000067;
  &:hover {
    color: #000;
  }
}
